@model IEnumerable<Amenity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">No hay datos para mostrar.</div>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsorcioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consorcio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ConsorcioId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(model => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Consorcio)
            </td>
            <td>
                @Html.DisplayFor(model => item.Reservas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}
