@model Gasto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>


<div>
    <h4>Gasto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Consorcio")
        </dt>
        <dd class = "col-sm-10">
            @Model?.Consorcio?.Nombre
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroFactura)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivoFacturaPath)
        </dt>
        <dd class = "col-sm-10">
            @if (!string.IsNullOrWhiteSpace(Model?.ArchivoFacturaPath))
            {
                <a href="@Url.Content(Model!.ArchivoFacturaPath!)"
                   target="_blank"
                   rel="noopener"
                   class="btn btn-sm btn-outline-primary">
                    Ver comprobante
                </a>
            }
            else
            {
                <span class="text-muted">Sin comprobante</span>
            }
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
