@model IEnumerable<Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="page-intro">
    <div>
        <h2>Reservas</h2>
        <p>Consultar reservas realizadas por los propietarios</p>
    </div>
</section>


<table class="table table-clean">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Consorcio")
            </th>
            <th>
                @Html.DisplayName("Amenitie")
            </th>
            <th>
                @Html.DisplayName("Unidad Funcional")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaReserva)
            </th>
            <th>
                @Html.DisplayName("Turno")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.UnidadFuncional?.Consorcio?.Nombre
            </td>
            <td>
               @item.Amenity.Nombre
            </td>
            <td>
                @Html.DisplayFor(model => item.UnidadFuncionalId)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaReserva)
            </td>
            <td>
                @Html.DisplayFor(model => item.Turno)
            </td>

            <td>
                @Html.DisplayFor(model => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
