@model IEnumerable<Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPropietario.cshtml";
}

<section class="page-intro">
    <div>
        <h2>Reservas</h2>
        <p>Crear y consultar reservas hechas</p>
    </div>
    <a class="btn btn-primary" asp-action="Create">Crear reserva</a>
</section>


@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">No hay datos para mostrar.</div>
}
else
{
    <table class="table table-clean">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Amenitie")
            </th>
            <th>
                @Html.DisplayName("Fecha reserva")
            </th>
            <th>
                @Html.DisplayName("Turno")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                    @Html.DisplayName("Acciones")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.Amenity.Nombre
                </td>
            <td>
                    @item.FechaReserva.ToString("dd/MM/yyyy")
            </td>
                <td>
                    @Html.DisplayFor(model => item.Turno)
                </td>
            <td>
                    @if (item.Estado == EstadoReserva.Pendiente)
                    {
                        <span class="badge bg-warning">Pendiente</span>
                    }else if (item.Estado == EstadoReserva.Confirmada)
                        {
                            <span class="badge bg-success">Aprobada</span>
                        }
                        else if (item.Estado == EstadoReserva.Cancelada)
                        {
                            <span class="badge bg-secondary">Cancelada</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Rechazada</span>
                        }
            </td>
            <td>
                    @if ((item.Estado == EstadoReserva.Pendiente || item.Estado == EstadoReserva.Confirmada) && item.FechaReserva > DateTime.Today)
                    {
                        <form asp-action="Cancelar"
                        asp-route-id="@item.Id"
                        method="post"
                        class="d-inline">

                            <button type="submit"
                            class="btn btn-sm btn-warning"
                            onclick="return confirm('¿Desea cancelar esta reserva?');">
                                Cancelar
                            </button>
                        </form>                
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
    </table>
}
