@model IEnumerable<Reclamo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnidadFuncionalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacionAdministracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadFuncional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.UnidadFuncionalId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Asunto)
            </td>
            <td>
                @Html.DisplayFor(model => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(model => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(model => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(model => item.ObservacionAdministracion)
            </td>
            <td>
                @Html.DisplayFor(model => item.UnidadFuncional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
