@model Comunicado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comunicado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsorcioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsorcioId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPublicacion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArchivoAdjuntoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArchivoAdjuntoPath)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importante)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consorcio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consorcio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
