@model IEnumerable<Comunicado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConsorcioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivoAdjuntoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consorcio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ConsorcioId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(model => item.FechaPublicacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.ArchivoAdjuntoPath)
            </td>
            <td>
                @Html.DisplayFor(model => item.Importante)
            </td>
            <td>
                @Html.DisplayFor(model => item.Consorcio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
