@model Pago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpensaId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPagado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPagado)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedioPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedioPago)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOperacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroOperacion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BancoEntidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BancoEntidad)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComprobantePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComprobantePath)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRevision)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacionAdministracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacionAdministracion)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expensa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expensa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
