@model IEnumerable<Pago>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Pagos";
    var rol = Context.Session.GetString("UsuarioRol");
        Layout = "~/Views/Shared/_LayoutPropietario.cshtml";
}

<section class="page-intro">
    <div>
        <h2>Pagos</h2>
        <p>Registro y consulta de pagos de expensas.</p>
    </div>
        <a class="btn btn-primary" asp-action="Create">Informar Pago</a>

</section>

<table class="table table-clean">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedioPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(model => item.MontoPagado)
            </td>
            <td>
                @Html.DisplayFor(model => item.MedioPago)
            </td>
            <td>
                @Html.DisplayFor(model => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(model => item.Comentarios)
            </td>

            <td class="table-actions">
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
