@model IEnumerable<Pago>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPropietario.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Informar Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedioPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroOperacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BancoEntidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComprobantePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Expensa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(model => item.MontoPagado)
            </td>
            <td>
                @Html.DisplayFor(model => item.MedioPago)
            </td>
            <td>
                @Html.DisplayFor(model => item.NumeroOperacion)
            </td>
            <td>
                @Html.DisplayFor(model => item.BancoEntidad)
            </td>
            <td>
                @Html.DisplayFor(model => item.ComprobantePath)
            </td>
            <td>
                @Html.DisplayFor(model => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(model => item.Estado)
            </td>
           
            <td>
                @Html.DisplayFor(model => item.Expensa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
