@model Consorcio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Detalle del Consorcio</h1>

<div>
    <h4 class="app-card-title">Consorcio</h4>
    <hr />
    <dl class="detail-list">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuit)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPisos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPisos)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadesFuncionales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadesFuncionales)
        </dd>
    @*
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gastos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gastos)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comunicados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comunicados)
        </dd>*@
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amenities)
        </dd>
    </dl>
</div>
<div class="table-actions">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
